version: '3'
services:
  vue-app:
    build: .
    ports:
      - "80:80"
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.english-time.rule=Host(`test.winter-dev.ru`)"
      - "traefik.http.routers.english-time.entrypoints=websecure"
      - "traefik.http.routers.english-time.tls.certResolver=letsencrypt"
      - "traefik.http.services.english-time.loadbalancer.server.port=80"
