@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.video-widget{
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.4s linear 0s;
    cursor: pointer;
}

.video-widget > video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.video-widget.--open{
    width: 250px;
    height: 320px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .video-widget{
        right: 10px;
        bottom: 10px;
        width: 120px;
        height: 120px;
    }
    .video-widget.--open{
        width: 250px;
        height: 320px;
    }
}
